@import './variables';

* {
  border: 0px;
  margin: 0px;
  font-family: sans-serif;
}

#score {
  height: 10vh;
  width: 100vw;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  background-color: $scoreBackgroundColor;

    @media only screen and (max-width: 500px) {
    font-size: 1.5em;
    height: 15vh;
  }

  #user__score {
    font-family: 'Permanent Marker', cursive;
    margin: 20px;
    color: $scoreFontColor;

      @media only screen and (max-width: 500px) {
      text-align: center;
      margin: 10px;
    }

  }  
}


.quiz {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 20px;

    background-color: $quizCardBGColor;
    height: 70vh;

      @media only screen and (max-width: 500px) {
      padding: 5px;
      }
  }

    &__question {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 10vh;
     
        @media only screen and (max-width: 500px) {
        height: 20vh;
        }
    }

      &__question, h2{
        font-size: 2em;
        @media only screen and (max-width: 500px) {
          font-size: 1.25em;
        }
      }
    

    &__imgContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 20vh;
      
        @media only screen and (max-width: 500px) {
        height: 15vh;
        }

    }

      #quiz__img {
        height: 20vh;
        width: fit-content;
        
          @media only screen and (max-width: 500px) {
          height: 15vh;
          }
      }        
  }


.quiz__answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;

    @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5em;
    margin: 10px 0px;
    }

  .quiz__answers, button {
    background-color: $quizAnswerButtonColor;
  }

  .quiz__answer {
    padding: 10px 0;
    height: 10vh;
    border-radius: 15px;
    font-size: 2em;

      @media only screen and (max-width: 500px) {
      border-radius: 10px;
      font-size: 1.25em;
      height: 8vh;
      }

  }

}



.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20vh;
  background-color: $scoreBackgroundColor;

    @media only screen and (max-width: 500px) {
    height: 15vh;
    }
}

#startBtn,
#resetBtn {
  background-color: $quizPlayButtonColor;
  height: 10vh;
  width: 20vw;
  border-radius: 20px;
  font-size: 2em;
  margin-right: 10px;

    @media only screen and (max-width: 500px) {
    width: 40vw;
    border-radius: 10px;
    font-size: 1.25em;
 }

}